* {
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid black;
    height: 350px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}

.sub-container {
    width: 175px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    height: 21%;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #7BCCCC;
}

h2 {
    margin-top: 0;
}

main {
    width: 100%;
    height: 52%;
    background-color: #E6FBFB;
}

form {
    padding-top: 20px;
}

.answers {
    height: 80px;
}

input {
    margin-left: 0;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: pink;
}

button {
    width: 62px;
}

.submit-button-container {
    width: 130px;
    position: relative;
    top: 20px;
}

.display-answer-container {
    height: 15px;
    width: 250px;
    position: relative;
    top: 30px;
}

.hide {
    visibility: hidden;
}

footer {
    width: 100%;
    height: 27%;
    padding-top: 18px;
    border-top: 1px solid black;
    background-color: #7BCCCC;
}